// Fonts

$font-main : 'Muli', sans-serif;

// Colours
$red : #FE5F55;
$green : #97D8BC;
$lightblue : #F7F7FF;

$darken : rgba(0,0,0,0.2);

$color1: $green;
$color2: $lightblue;
$color3: $red;

// Height
$headerfooterheight : 10vh;

// Buttons
$button-size: 1.75em;