// Fonts

$font-main : 'Muli', sans-serif;

// Colours
$red : #FE5F55;
$lightblue : #F7F7FF;

$darken : rgba(0,0,0,0.2);

$color1: $red;
$color2: $lightblue;

// Height
$headerfooterheight : 10vh;

// Buttons
$button-size: 1.75em;