// Base
.header, .footer{
	background-color: $color2;
	height:$headerfooterheight;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
}
.header {
	border-bottom: medium $color1 solid;
}

.logo{
	flex:0 0 2.5em;
	margin:0.5em;
}

.location-title, .location-choice{
	h1{
		margin:0 1em 0 0;
	}
}


.back-btn { 
	color: $color1;
	box-sizing:border-box;
	padding:1em;

	i{
		font-size:$button-size;
	}
}
	
.section{
	min-height: 100vh;
	min-width: 320px;
	width: 100%;
	font-family:$font-main;
}


// Section 1

.section-0{

	background-color: $color1;
	position: relative;

	.content{
		position: absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
	}
	.img-gritting{
		height: 3em;
		width: auto;
	}
}
// section 1
	.section-1{
		background-image:url("../../assets/images/fon.png");
		background-repeat:no-repeat;
		background-size:cover;
	}
	.s1-logo{
		background-image:url("../../assets/images/logo-red.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position:center;
		background-color:white;
		border-bottom:2px red solid;
		height: 5em;
	}
	.neutral{
		background-color: rgba(190,0,0,1);
	}
	.current{
		background-color: red !important;
	}
	.login-box{
		// border: 1px red solid;
		width: 80%;
		// height: 15em;
		margin: auto;
		margin-top: 2.5em;
		display:flex;
		flex-wrap:wrap;

		.login{
			flex: 0 0 30%;
			height: 2em;
			font-style: $font-main;
			font-size: 1.5em;
			// background-color: $color1;
			color:white;
			text-align:center;
			padding-right:0.4em;
			// margin-bottom: 2em;

		}
	}
	.sign-up{
		flex: 0 0 30%;
		// border: 1px blue solid;
		height: 2em;
		font-style: $font-main;
		font-size: 1.5em;
		// background-color: $color1;
		color:white;
		text-align:center;
		padding-right:0.4em;
		
	}
	.sign-in-form{
		// display:none;
	}
	.input-field{
		border: 2px red solid;
		display:flex;
		margin-top: 1em;
		border-radius: 5px;
		padding:0.5em;
		background-color: white;
		.input{
			flex: 0 0 85%;
			border-radius: 5px;
			padding:0.5em;
			border:none;
		}
		
	input.input[type=text]{
			color: red;
			box-sizing:border-box;
			font-weight:bold;
			font-size: 1.5em;
			 -webkit-transition: width 0.4s ease-in-out;
    		transition: width 0.4s ease-in-out;
    		box-shadow:none;
	}
	input[type=text]:focus{
			outline:none;
			width: 100%;
			box-shadow:none;
	}
	.input::placeholder{
				color: $color1;
				font-size: 1.5em;
	}



	.fas{
		flex: 0 0 10%;
		font-size: 2em;
		line-height:1.5em;
		border-right: 2px solid red;
		margin:auto;
		color: $color1;

	}
	
	form{
		margin-top: 2em;
		
		width: 90%;
		margin:auto;
	}
	.btn1{
		background-image:url("../../assets/icons/globe-grey.svg");
		background-repeat: no-repeat;
		background-position: center;
		height:4em;
		flex:1 0 100%;
		padding:0;
		background-color: rgba(255,50,0,1);
		border-radius: 0 0 5px 5px;
	}
	.box{
	width:100%;
	// border: 1px blue solid;
	padding-bottom:2em;
	background-color: rgba(211,211,211,1.2);
	}	


// Section 2

.section-2 {
	background-image: url(../assets/images/fon.png);
	background-repeat: no-repeat;
	background-size: cover;


	.logo-full {
		text-align: center;
		width: 100%;

		img {
			height: 50px;
		}
	}
	.select-wrap {

		max-width: 300px;
		margin-left: 5em;


		.select {

			background-color: lighten($color1, 5%);
			color: white;
			font-size: 1.5em;
			max-width: 7em;
			text-align: center;
			margin-top: 3em;
			border-radius: 0.15em;

				p {
					margin: 0;
				}
		}
		.location {
			
			max-width: 300px;

				#dropdownMenu2 {
					background-color: white;
					color: $color1;
					margin-top: 0;
					padding-right: 1em;
					width: 100%;
					font-size: 1.5em;
				}

				.explore{
					background-color: $color1;
					width: 100%;
					text-align: center;
					padding-top: 0.5em;
					padding-bottom: 0.5em;
					border-radius: 0.15em;
					
					img {
						width: 40%;
					}
				}
		}
	}
	

	

}

// Section 3

.section-3{
	display:flex;
	flex-direction:column;

	.choices-list{
		flex:1 0 50%;
		display:flex;
		flex-direction:column;
		.choices{
			flex:1 0 10%;
			border-top:thick solid $darken;
			border-bottom:thick solid $darken;
			background-color:$color1;

			display:flex;
			flex-wrap:wrap;
			align-items:center;
			justify-content:space-between;

				
			.choice-name {
				margin-left:1em;
				color:$color2;
				h1{
					font-weight:300;
				}
			}

			.drop-btn { 
				margin-right:1.5em;
				width: 3em;
				text-align:center;
				

				i{
					font-size:$button-size;
					color:$color2;
				}
			}

		}
	}
}

// Section 4
.section-4 {
	display: flex;
	flex-direction: column;
	#map {
		flex:
		1 0 20em;
	}
}

@media only screen and (min-width: 40em) {

}

@media only screen and (min-width: 60em) {
	
}

@media only screen and (min-width: 80em) {
	
}